FSL_SF_Project/force-app/main/default/flows/Case_Creation_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Accident_Collision</name>
        <choiceText>Accident / Collision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accident / Collision</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check_Engine_Warning_Light</name>
        <choiceText>Check Engine / Warning Light</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check Engine / Warning Light</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cracked_Broken_Windshield</name>
        <choiceText>Cracked / Broken Windshield</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cracked / Broken Windshield</stringValue>
        </value>
    </choices>
    <choices>
        <name>EV_Battery_Depleted_Stranded</name>
        <choiceText>EV Battery Depleted (Stranded)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EV Battery Depleted (Stranded)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keys_Lost_Fob_Unresponsive</name>
        <choiceText>Keys Lost / Fob Unresponsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keys Lost / Fob Unresponsive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Major_Mechanical_Failure_Undriveable</name>
        <choiceText>Major Mechanical Failure (Undriveable)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major Mechanical Failure (Undriveable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_Maintenance</name>
        <choiceText>Mobile Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_Temporary_Replacement</name>
        <choiceText>Request Temporary Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Temporary Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Roadside_Emergency</name>
        <choiceText>Roadside Emergency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roadside Emergency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Roadside_Emergency1</name>
        <choiceText>Roadside Emergency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roadside Emergency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screen_Frozen_Software_Glitch</name>
        <choiceText>Screen Frozen / Software Glitch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screen Frozen / Software Glitch</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tire_Blowout_Flat_Tire</name>
        <choiceText>Tire Blowout / Flat Tire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tire Blowout / Flat Tire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle_Won_t_Start_Dead_Battery</name>
        <choiceText>Vehicle Won&apos;t Start (Dead Battery)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle Won&apos;t Start (Dead Battery)</stringValue>
        </value>
    </choices>
    <choices>
        <name>VIP_Concierge</name>
        <choiceText>VIP Concierge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VIP Concierge</stringValue>
        </value>
    </choices>
    <constants>
        <name>Field_Service_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Service Dispatch</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_standard_user_with_emergency_or_not</name>
        <label>Check standard user with emergency or not?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Standard_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Emergency</defaultConnectorLabel>
        <rules>
            <name>In_Emergency_with_High_Priority</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Emergency_Cases_for_Standard_Users</targetReference>
            </connector>
            <label>In Emergency with High Priority</label>
        </rules>
        <rules>
            <name>In_Emergency_with_Medium_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Emergency_Cases_with_Medium_Priority</targetReference>
            </connector>
            <label>In Emergency with Medium Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_VIP_customer_or_not</name>
        <label>Is VIP customer or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_standard_user_with_emergency_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Customer</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Active_Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Emergency_Cases</targetReference>
            </connector>
            <label>VIP Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StoreSymptomValues</name>
        <dataType>String</dataType>
        <expression>{!Select_specific_Mechanical_Symptoms3} &amp; {!Select_specific_Mechanical_Symptoms2} &amp; {!Select_specific_Mechanical_symptoms}</expression>
    </formulas>
    <interviewLabel>Case_Creation_ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Creation_ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create high priority cases for premium customers</description>
        <name>Create_Emergency_Cases</name>
        <label>Create Emergency Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Failure_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_City__c</field>
            <value>
                <elementReference>Customer_Location.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Country__c</field>
            <value>
                <elementReference>Customer_Location.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_State_Province__c</field>
            <value>
                <elementReference>Customer_Location.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Street__c</field>
            <value>
                <elementReference>Customer_Location.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Customer_Location.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Find_Active_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Symptom__c</field>
            <value>
                <elementReference>StoreSymptomValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create high priority cases for Standard customers</description>
        <name>Create_Emergency_Cases_for_Standard_Users</name>
        <label>Create Emergency Cases for Standard Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Failure_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_City__c</field>
            <value>
                <elementReference>Customer_Location.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Country__c</field>
            <value>
                <elementReference>Customer_Location.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_State_Province__c</field>
            <value>
                <elementReference>Customer_Location.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Street__c</field>
            <value>
                <elementReference>Customer_Location.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Customer_Location.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Find_Active_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Symptom__c</field>
            <value>
                <elementReference>StoreSymptomValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create medium priority cases for Standard customers.</description>
        <name>Create_Emergency_Cases_with_Medium_Priority</name>
        <label>Create Emergency Cases with Medium Priority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Failure_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_City__c</field>
            <value>
                <elementReference>Customer_Location.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Country__c</field>
            <value>
                <elementReference>Customer_Location.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_State_Province__c</field>
            <value>
                <elementReference>Customer_Location.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Street__c</field>
            <value>
                <elementReference>Customer_Location.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Customer_Location.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Find_Active_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Symptom__c</field>
            <value>
                <elementReference>StoreSymptomValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create standard priority cases for normal customers</description>
        <name>Create_Standard_Case</name>
        <label>Create Standard Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Failure_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Screen4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_City__c</field>
            <value>
                <elementReference>Customer_Location.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Country__c</field>
            <value>
                <elementReference>Customer_Location.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_State_Province__c</field>
            <value>
                <elementReference>Customer_Location.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Street__c</field>
            <value>
                <elementReference>Customer_Location.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakdown_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Customer_Location.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Category__c</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_Symptom__c</field>
            <value>
                <elementReference>StoreSymptomValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_type_of_issue_is_this1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Active_Entitlement</name>
        <label>Find Active Entitlement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Types</name>
        <label>Get Case Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_VIP_customer_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Field_Service_Record_Type_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureScreen</name>
            <fieldText>&lt;blockquote&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;Something went wrong while trying to process this emergency request. Don&apos;t worry—the data hasn&apos;t been lost yet. Please take a screenshot of this page and send it to the Salesforce Admin team.&lt;/p&gt;&lt;/blockquote&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen3</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureScreen_2</name>
            <fieldText>&lt;blockquote&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;Something went wrong while trying to process this emergency request. Don&apos;t worry—the data hasn&apos;t been lost yet. Please take a screenshot of this page and send it to the Salesforce Admin team.&lt;/p&gt;&lt;/blockquote&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen4</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_FailureScreen</name>
            <fieldText>&lt;blockquote&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;Something went wrong while trying to process this emergency request. Don&apos;t worry—the data hasn&apos;t been lost yet. Please take a screenshot of this page and send it to the Salesforce Admin team.&lt;/p&gt;&lt;/blockquote&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen_1</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FailureScreen</name>
            <fieldText>&lt;blockquote&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;Something went wrong while trying to process this emergency request. Don&apos;t worry—the data hasn&apos;t been lost yet. Please take a screenshot of this page and send it to the Salesforce Admin team.&lt;/p&gt;&lt;/blockquote&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Highway_Emergency</name>
        <label>Log Highway Emergency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Active_Entitlement</targetReference>
        </connector>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search VIP Client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssetLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Vehicle (VIN/Asset)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_type_of_issue_is_this1</name>
            <choiceReferences>Roadside_Emergency</choiceReferences>
            <choiceReferences>Mobile_Maintenance</choiceReferences>
            <choiceReferences>VIP_Concierge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of issue is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_specific_Mechanical_symptoms</name>
            <choiceReferences>Tire_Blowout_Flat_Tire</choiceReferences>
            <choiceReferences>Major_Mechanical_Failure_Undriveable</choiceReferences>
            <choiceReferences>EV_Battery_Depleted_Stranded</choiceReferences>
            <choiceReferences>Accident_Collision</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select specific Mechanical symptoms</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Roadside_Emergency</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_specific_Mechanical_Symptoms2</name>
            <choiceReferences>Check_Engine_Warning_Light</choiceReferences>
            <choiceReferences>Vehicle_Won_t_Start_Dead_Battery</choiceReferences>
            <choiceReferences>Cracked_Broken_Windshield</choiceReferences>
            <choiceReferences>Keys_Lost_Fob_Unresponsive</choiceReferences>
            <choiceReferences>Screen_Frozen_Software_Glitch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select specific Mechanical Symptoms</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mobile_Maintenance</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_specific_Mechanical_Symptoms3</name>
            <choiceReferences>Request_Temporary_Replacement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select specific Mechanical Symptoms</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_issue_is_this1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>VIP_Concierge</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Location</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Customer Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Map</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Issue_Description</name>
            <fieldText>Issue Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Failure_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(42, 66, 12);&quot;&gt;Emergency Case successfully Logged!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Highway_Emergency</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
