FSL_SF_Project/force-app/main/default/flows/Work_Order_Creation_from_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_WOLI_records_corresponding_to_the_WO_record</name>
        <label>Get WOLI records corresponding to the WO record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CCM_UtliityClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_WOLI_records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parentWorkOrderId</name>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>symptomString</name>
            <value>
                <elementReference>varSymptomsAsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CCM_UtliityClass</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>TotalDuration</assignToReference>
            <name>totalDuration</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>wolisToInsert</assignToReference>
            <name>wolisToInsert</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores case&apos;s field service record type Developer name</description>
        <name>Field_Service_Recordtype_Developer_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Field_Service_Dispatch</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_needs_a_loaner_or_not</name>
        <label>Check if needs a loaner or not?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Does not need loaner</defaultConnectorLabel>
        <rules>
            <name>Needs_loaner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major Mechanical Failure (Undriveable)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EV Battery Depleted (Stranded)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident / Collision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cracked / Broken Windshield</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screen Frozen / Software Glitch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reported_Symptom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Won&apos;t Start (Dead Battery)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loaner_Work_type</targetReference>
            </connector>
            <label>Needs loaner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_priority_of_the_case</name>
        <label>Check priority of the case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Medium/Low</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loaner_Work_type</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_multiple_symptoms_are_present</name>
        <label>Check whether multiple symptoms are present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Specific_Work_types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tag it with specific worktype</defaultConnectorLabel>
        <rules>
            <name>Tag_it_to_generic_WT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSymptomsAsText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Generic_Work_type</targetReference>
            </connector>
            <label>Tag it to generic WT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_case_related_to_Field_Service_support</name>
        <label>Is case related to Field Service support?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Field_Service_Recordtype_Developer_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_whether_multiple_symptoms_are_present</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP_Customer_or_not</name>
        <label>VIP Customer or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_priority_of_the_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non VIP Customer</defaultConnectorLabel>
        <rules>
            <name>VIP_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_needs_a_loaner_or_not</targetReference>
            </connector>
            <label>VIP Customer</label>
        </rules>
    </decisions>
    <description>This flow will create Work orders and work order line items from cases</description>
    <environments>Default</environments>
    <formulas>
        <name>StoreWorkTypeName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varSymptomsAsText}, &apos;Tire Blowout / Flat Tire&apos;), &apos;Emergency Highway Rescue&apos;,
  IF(CONTAINS({!varSymptomsAsText}, &apos;Major Mechanical Failure&apos;), &apos;Flatbed Towing Service&apos;,
    IF(CONTAINS({!varSymptomsAsText}, &apos;EV Battery Depleted&apos;), &apos;EV Mobile Charging&apos;,
      IF(CONTAINS({!varSymptomsAsText}, &apos;Accident / Collision&apos;), &apos;Post-Accident Assessment&apos;,
        IF(CONTAINS({!varSymptomsAsText}, &apos;Check Engine / Warning Light&apos;), &apos;Standard Mobile Diagnostic&apos;,
          IF(CONTAINS({!varSymptomsAsText}, &apos;Vehicle Won\&apos;t Start&apos;), &apos;Routine Battery Swap&apos;,
            IF(CONTAINS({!varSymptomsAsText}, &apos;Cracked / Broken Windshield&apos;), &apos;Windshield Replacement (Mobile)&apos;,
              IF(CONTAINS({!varSymptomsAsText}, &apos;Keys Lost / Fob Unresponsive&apos;), &apos;Key Fob Reprogramming&apos;,
                IF(CONTAINS({!varSymptomsAsText}, &apos;Screen Frozen / Software Glitch&apos;), &apos;On-Site Software Update&apos;,
                  IF(CONTAINS({!varSymptomsAsText}, &apos;Request Temporary Replacement&apos;), &apos;White-Glove Loaner Delivery&apos;,
                    &apos;Comprehensive Vehicle Repair&apos;
                  )
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Creation of Work Order via Cases Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Creation from Cases Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_generic_Work_Order</name>
        <label>Create generic Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_WOLI_records_corresponding_to_the_WO_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Breakdown_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Breakdown_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Breakdown_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Breakdown_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Breakdown_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Generic_Work_type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_loaner_Work_Order</name>
        <label>Create loaner Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_WOLI_for_loaner_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Breakdown_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Breakdown_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Breakdown_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Breakdown_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Breakdown_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Loaner_Work_type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_specific_Work_Order</name>
        <label>Create specific Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_work_order_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Breakdown_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Breakdown_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Breakdown_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Breakdown_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Breakdown_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Specific_Work_types.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_for_loaner_WO</name>
        <label>Create WOLI for loaner WO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Breakdown_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Breakdown_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Breakdown_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Breakdown_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Breakdown_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Loaner_Work_type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_records</name>
        <label>Create WOLI records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_work_order_duration_value</targetReference>
        </connector>
        <inputReference>wolisToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_work_order_line_item</name>
        <label>Create work order line item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VIP_Customer_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Breakdown_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Breakdown_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Breakdown_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Breakdown_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Breakdown_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Specific_Work_types.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Generic_Work_type</name>
        <label>Get Generic Work type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_generic_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comprehensive Vehicle Repair</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loaner_Work_type</name>
        <label>Get Loaner Work type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_loaner_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>White-Glove Loaner Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Specific_Work_types</name>
        <label>Get Specific Work types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_specific_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreWorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_work_order_duration_value</name>
        <label>Update work order duration value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VIP_Customer_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_case_related_to_Field_Service_support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reported_Symptom__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FieldServiceRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012g7000001Da1tAAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSymptomsAsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Reported_Symptom__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>wolisToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
